

header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #333;
        color: #fff;
    }

.logo{
        color: rgb(0, 255, 76);
        font-size: 1.5rem;
        font-weight: bold;
    }

.link{
        color: rgb(245, 245, 248);
        margin-left: 1rem;
        text-decoration: none;
    } 

  